<h3>Welcome Home</h3>
<p>At kc02potelbat we are concerned with improving the quality of the time we spend together in game.</p>

<table width="100%">
<tr>
<td align="center" valign="center">

<table style="border: 1px solid #888;">
<tr>
    <th>Login Here</th>
</tr>
<tr>
    <td>
        <label for="user_login_id"><span>Login ID:</span>
        <input type="text" name="user_login_id" id="user_login_id" value="" override="1"></label>
    </td>
</tr>
<tr>
    <td>
        <label for="user_password"><span>Password:</span>
        <input type="password" name="user_password" id="user_password" value="" override="1"></label>
    </td>
</tr>
<tr>
    <td>
        <button style="width:100%">LOGIN</button>
    </td>
</tr>
</table>

</td>
</tr>
</table>