<h3>Welcome to KC02POTELBAT
    <span class="navigation">
        <button>Login</button>
        <button>Sign-Up</button>
    </span>
</h3>

<div class='tabletop'>
Welcome to a new way of doing business in the pandemic world!
</div>
